
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    color: #fff3f3;
    background-color: #f9f9f9;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}





main {
    flex: 1;
}

.about-section {
    padding: 40px 20px;
    text-align: center;
    background: url(back3.jpg);
    height: 92.7vh;
    color: #000000;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.about-text h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

.about-text ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    margin-bottom: 15px;
}

.about-image {
    text-align: center;
    margin-top: 20px;
}

.about-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #531f51;
}


footer {
    background-color: #242222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-content a {
    color: #00bfff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .about-text {
        text-align: center;
    }

    .about-image img {
        width: 120px;
        height: 120px;
    }
}
